<h2><%= @restaurant.name %></h2>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.rating %></p>
<%= link_to 'go home', restaurants_path %>
<%= link_to 'mettre à jour le restaurant', edit_restaurant_path(@restaurant) %>
